* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'CodePro', sans-serif;
  background-color: #ffffffe7;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 40px;
  background-color: #000;
}

.logo {
  height: 40px;
  width: 150px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}

.btn-entrar {
  background-color: #0097b2;
  padding: 10px 20px;
  border-radius: 4px;
}

.bt-cdt {
  padding: 10px 20px;
}

a:hover.bt-cdt {
  background-color: gray;
  padding: 10px 20px;
  border-radius: 4px;
}

a:hover.btn-entrar {
  background-color: #0097b2b4;
}

a:hover.btn-ct {
  background-color: #0097b2b4;
}

.cinza {
  color: #ffffffab;
}

.cinza:hover {
  color: #fff;
}


.cadastro-container {
  max-width: 600px;
  margin: 95px auto;
  margin-bottom: 30px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  text-align: center;
}


.cadastro-container h2 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #000000d8;
}


.opcao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.2s ease;
}

.opcao:hover {
  border-color: #0097b2;
  box-shadow: 0 0 5px rgba(0, 151, 178, 0.3);
}

.opcao h3 {
  color: #000000d8;
  font-size: 18px;
  margin-bottom: 8px;
  text-align: left;
}

.opcao p {
  font-size: 14px;
  color: #444;
  text-align: left;
}


.opcao .icon {
  font-size: 22px;
  color: #333;
}


.navegacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.navegacao button {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #333;
  background: #fff;
  cursor: pointer;
  font-size: 14px;
}

.navegacao button.proximo {
  background: #0097b2;
  color: #fff;
  border: none;
}


.progresso {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
}

.progresso .step {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #333;
}

.progresso .step.ativo {
  background: #333;
}

.opcao.selecionada {
  border: 2px solid #0097b2;
  box-shadow: 0 0 6px rgba(0, 151, 178, 0.4);
}

.footer {
  background: #fff;
  border-top: 1px solid #ddd;
  padding: 0px 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: auto; 
}

.footer-bottom {
  background: #000;
  color: #fff;
  width: 100%;
  padding: 30px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 0.85rem;
  text-align: center;
}

.footer-bottom .footer-logo {
  position: absolute;
  left: 2%;
  width: 154px;
  opacity: 0.95;
}


.form-container {
  max-width: 600px;
  margin: 100px auto;
  margin-bottom: 30px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
}

/* Título */
.form-container h2 {
  font-size: 22px;
  margin-bottom: 20px;
  font-family: 'CodePro', sans-serif;
  color: #000;
}

/* Labels */
.form-container label {
  display: block;
  margin: 10px 0 5px;
  font-size: 16px;
  text-align: left;
  font-family: 'CodePro', sans-serif;
  color: #000;
}

/* Inputs */
.form-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 15px;
  outline: none;
  font-family: 'CodePro', sans-serif;
}

.form-container input:focus {
  border-color: #0097b2;
  box-shadow: 0 0 4px rgba(0, 151, 178, 0.3);
}


.navegacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.navegacao button {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #333;
  background: #fff;
  cursor: pointer;
  font-size: 14px;
  font-family: 'CodePro', sans-serif;
}

.navegacao button.proximo {
  background: #0097b2;
  color: #fff;
  border: none;
}

.titulo-categorias {
  text-align: center;
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: 600;
  color: #000;
}

.grid-categorias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

.categoria-item {
  width: 160px;
  height: 120px;
  border: 2px solid #dadada;
  border-radius: 7px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: .2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
}

.categoria-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}


.categoria-item:hover {
  border-color: #00a8e8;
}


.categoria-item.selecionada {
  border-color: #00a8e8;
  box-shadow: 0 0 6px rgba(138, 207, 235, 0.4);
}

.ramo-container {
  max-width: 760px;
  margin: 110px auto;
  margin-bottom: 45px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
} 


.perfil-wrapper {
    width: 900px;
    margin: 105px auto;
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
}

.titulo-perfil {
    text-align: center;
    margin-bottom: 25px;
    color: #000;
}


.perfil-card {
    border: 1px solid #cfcfcf;
    padding: 20px;
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
}


.foto-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto-circulo {
    width: 200px;
    height: 200px;
    background: #d7d7d7;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
    color: #555;
    position: relative;
}

.icone-add {
    position: absolute;
    top: 10px;
    right: 18px;
    background: #00a8e8;
    color: white;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#inputFoto {
    margin-top: 10px;
}

/* FORMULÁRIO */
.perfil-form {
    flex: 1;
    color: #000;
}

/* Inputs */
.campo {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input,
select,
textarea {
    border: 1px solid #b8b8b8;
    padding: 8px;
    border-radius: 4px;
    background: white;
}

/* Linha de 2 colunas */
.linha-dupla {
    display: flex;
    gap: 25px;
}

/* Preço (R$ + input) */
.preco-input {
    display: flex;
    align-items: center;
    gap: 5px;
}

.preco-input span {
    font-size: 14px;
    color: #000;
}

/* Portfólio */
.portfolio-box {
    width: 150px;
    height: 110px;
    border: 2px dashed #00a8e8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.mais-portfolio {
    font-size: 40px;
    color: #00a8e8;
}

.texto-lateral {
    max-width: 192px;
    color: #555;
    font-size: 12px;
    margin-top: 38px;
}

/* Checkbox */
.checkbox-politica {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: #000;
    margin-bottom: 40px;
}

.checkbox-politica a {
    color: #00a8e8;
}

/* Botão final */
.btn-finalizar {
    background: #00a8e8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.btn-finalizar:hover {
    background: #008ec7;
}


.titulo-publique {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #000;
    margin-top: 100px;
}


.publique-box {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #bfbfbf;
    font-family: Arial, sans-serif;
    margin-top: 27px;
    color: #000;
}


.subtitulo-publique {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}


.lista-categorias {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lista-categorias label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #000;
}

.form-container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 110px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 110px;

}

.form-title {
    font-size: 22px;
    margin-bottom: 20px;
    
}

.project-form label {
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
}

.input-text,
.input-area {
    width: 45%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 15px;
}

.input-area {
    height: 120px;
    resize: none;
}

.file-wrapper {
    width: 45%;
    border: 1px solid #bbb;
    padding: 8px 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 25px;
}

.file-link {
    color: #008ca8;
    font-weight: 600;
    text-decoration: none;
}

.file-link:hover {
    text-decoration: underline;
}

.form-row {
    display: flex;
    gap: 40px;
    margin-top: 10px;
}

.valor-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.moeda {
    font-weight: bold;
    color: #000;
    margin-bottom: 12px ;
}

.valor-input,
.small-input {
    padding: 7px;
    border: 1px solid #bbb;
    border-radius: 3px;
    width: 80px;
}

.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.file-icon img {
  width: 20px;
  height: 20px;
}



